html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Ruda";
  font-size: 1.6rem;
  background: linear-gradient(
    270.14deg,
    #cdaadd 46.39%,
    rgba(205, 170, 221, 0) 118.44%
  );
}

img {
  width: 100%;
}

section {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
